a {
  color: inherit;
}

header {
  background-color: #f5b23f;
  height: 60px;
}

header ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

header ul li:last-child {
  padding-left: 10px;
}

img {
  width: 300px;
}

.quote {
  background-color: #fde8cf;
}

footer {
  background-color: #9e5af1;
  color: #fff;
  height: 300px;
}